<template name="PalbumContent">
  <div class="palbum-wrapper theme-{{type}} theme-{{color}} ">
    <div class="hard">
      <div class="wrapper">
        {{{palbumCoverDiv id}}}
        <div class="waist">
          <h1 class="title">{{title}}</h1>
          <span class="author">
            By
            <a href="{{authorLink}}" target="_blank">{{author}}</a>
          </span>
        </div>
      </div>
    </div>
    <div class="hard">
      {{{palbumCoverDiv id}}}
    </div>
    <div class="hard intro">
      <div class="wrapper">
        <h1 class="title">{{title}}</h1>
        <div class="text">
          {{#each addIndex summary}}
            {{#if isFirst}}
              <p class="first">{{value}}</p>
            {{else}}
              {{#if isLast}}
                <p class="last">{{value}}</p>
              {{else}}
                <p>{{value}}</p>
              {{/if}}
            {{/if}}
          {{/each}}
          <span class="author">{{author}}</span>
          <span class="date">{{date}}</span>
        </div>
      </div>
    </div>

    <div class="hard p{{getBackCoverIndex songs.length}}">
      <div class="back-cover">
        <ol class="index">
          {{#each addIndex songs}}
            <li>
              <a href="#" data-index="{{index}}">{{value.song.name}}</a>
            </li>
          {{/each}}
        </ol>
        <div class="controls">
          <a href="#" class="replay">
            <span>再欣赏一遍</span>
          </a>
          <a href="#" class="exit">
            <span>返回乐辑列表</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="PalbumPageImage">
  <div class="wrapper">
    <div class="cover">
      <a target="_blank" href="{{song.album.link}}">
        <img src="/images/palbums/{{palbumId}}/{{songIndex}}.jpg" alt="{{song.album.name}}" title="{{song.album.name}}" />
      </a>
    </div>

    <div class="player-controls">
      <div class="main">
        <span class="icon play"></span>
      </div>
      <div class="mode">
        <span class="icon normal"></span>
      </div>
      <div class="volume">
        <span class="icon min"></span>
        <input id="slider" />
        <span class="icon max"></span>
      </div>
    </div>
  </div>
</template>

<template name="PalbumPageText">
  <div class="wrapper">
    <div class="header">
      <h2 class="song-name">{{song.name}}</h2>
      <span class="artist-name">{{song.artist.name}}</span>
      <span class="album-name">{{song.album.name}}</span>
    </div>
    <div class="main-body">
      {{#each details}}
        <p>{{this}}</p>
      {{/each}}

      <a target="_blank" class="search-more">了解更多...</a>
    </div>
    <div class="footer">
      <span class="menu">
        <i class="icon"></i>
        <span>目录</span>
      </span>
      <span class="page-number">{{pageNumberInBook}}</span>
    </div>
  </div>
</template>