<template name="PalbumSidebarList">
  <ul class="tabs">
    {{#each tabs}}
      <li class="tab" data-type="{{type}}">{{title}}</li>
    {{/each}}
  </ul>
</template>

<template name="PalbumGuide">
  <div class="ui guide">
    {{#each sections}}
      <section>
        <h4 class="ui header">{{title}}</h4>
        <p>{{content}}</p>
      </section>
    {{/each}}
    <section class="cheatsheet">
      <h4 class="ui header">快捷键</h4>
      <div class="items">
        {{#each cheatsheet}}
          <div class="item">
            <span class="key">{{key}}</span>
            <span class="action">{{action}}</span>
          </div>
        {{/each}}
      </div>
    </section>
  </div>
</template>

<template name="PalbumSettings">
  <div class="ui form settings">
    {{#each sections}}
      <section>
        <h4 class="ui header">{{title}}</h4>
        <div class="inline fields">
          {{#each options}}
            <div class="field">
              <div class="ui radio checkbox">
                {{#if $eq value ../currentValue }}
                  <input type="radio" name="{{../name}}" value="{{value}}" checked>
                {{else}}
                  <input type="radio" name="{{../name}}" value="{{value}}">
                {{/if}}
                <label>{{title}}</label>
              </div>
            </div>
          {{/each}}
        </div>
      </section>
    {{/each}}
  </div>
</template>

<template name="PalbumFeedback">
  <form class="ui form feedback">
    {{!--<div class="ui error message"> --}}
    {{!--  <p>发送失败，请稍后重试。</p> --}}
    {{!--</div> --}}
    <div class="field">
      <label>邮箱</label>
      {{#if email}}
        <input type="email" name="email" value="{{email}}">
      {{else}}
        <input type="email" name="email">
      {{/if}}
    </div>
    <div class="field">
      <label>留言</label>
      <textarea name="feedback" placeholder="使用 Juy.fm 的感受、建议或意见，或者任何你想说的话"></textarea>
    </div>
    <div class="ui submit button primary">提交</div>
  </form>
</template>

<template name="SubmitFeedbackSuccess">
  <p class="success-hint">留言已收到，谢谢你对 Juy 的关注和支持 o.O</p>
</template>