<template name="PalbumSidebarList">
  <ul class="tabs">
    {{#each tabs}}
      <li class="tab" data-type="{{type}}">{{title}}</li>
    {{/each}}
  </ul>
</template>

<template name="PalbumGuide">
  <h1>使用指南</h1>
</template>

<template name="PalbumSettings">
  <form class="ui form">
    {{#each sections}}
      <section>
        <h4 class="ui dividing header">{{title}}</h4>
        <div class="inline fields">
          {{#each options}}
            <div class="field">
              <div class="ui radio checkbox">
                {{#if $eq value ../currentValue }}
                  <input type="radio" name="{{../name}}" value="{{value}}" checked >
                {{else}}
                  <input type="radio" name="{{../name}}" value="{{value}}">
                {{/if}}
                <label>{{title}}</label>
              </div>
            </div>
          {{/each}}
        </div>
      </section>
    {{/each}}
  </form>
</template>

<template name="PalbumFeedback">
  <form class="ui form">
    <div class="ui error message">
      <p>发送失败，请稍后重试。</p>
    </div>
    <div class="field">
      <label>邮箱</label>
      <input type="email" name="email">
    </div>
    <div class="field">
      <label>留言</label>
      <textarea name="feedback" placeholder="使用 Juy.fm 的感受、建议或意见，或者任何你想说的话"></textarea>
    </div>
    <div class="ui submit button primary">提交</div>
  </form>
</template>

<template name="SubmitFeedbackSuccess">
  <p>留言已收到，谢谢你对 Juy 的关注和支持 o.O</p>
</template>