.main-content
  position: absolute
  padding: 0 0 0 $sidebarWidth
  width: 100%
  height: 100%

  body.palbum &
    padding-left: $palbumSidebarWidth

.sidebar
  position: absolute
  left: 0
  top: 0
  width: $sidebarWidth
  height: 100%

  body.palbum &
    width: $palbumSidebarWidth