.main-content .menu-modal
  display: none
  position: absolute
  z-index: 1000
  left: 50%
  top: 50%
  margin-left: ($palbumSidebarWidth / 2) - $baseMargin - $pageWidth
  margin-top: - $baseMargin - ($pageHeight / 2)
  width: $pageWidth * 2 + $baseMargin * 2
  height: $pageHeight + $baseMargin * 2

  &.theme-blue
    background-color: $themeBlue

  .icon.close
    position: absolute
    transition: all .2s ease-in-out
    right: 8px
    top: 0
    height: $baseMargin
    line-height: $baseMargin
    font-size: 16px
    color: $baseWhite
    opacity: 0.2
    &:before
      content: "\ea0f"

    &:hover
      cursor: pointer
      transform: scale(1.2)
      opacity: 1

  .page
    float: left
    width: 50%
    height: 100%

    &.left .cover
      margin: $baseMargin
      width: $pageWidth + $baseMargin - $baseMargin * 2
      height: $pageHeight
      background-repeat: no-repeat
      background-position: center 0
      background-size: auto 100%
      border-radius: 15px

    &.right .wrapper
      overflow: hidden
      margin: $baseMargin
      width: $pageWidth + $baseMargin - $baseMargin * 2
      height: $pageHeight

      h2
        margin: 0 0 20px 0
        font-size: 22px
        line-height: 40px
        height: 40px
        text-align: center

      .sections
        overflow: auto
        height: $pageHeight - (40 + 20)
        margin: 0 0 0 10px

      .section
        margin: 0 0 10px 0

        .title
          margin: 0
          font-size: 18px
          line-height: 36px
          height: 36px

          &:hover
            cursor: pointer
            color: $baseGreen
            text-decoration: underline

        ul
          list-style-type: circle
          margin: 0

          li
            line-height: 1.4em
            &.current
              list-style-type: disc
              color: $baseGreen

            .artist
              float: right
              font-size: $baseFontSize - 2
              font-style: italic

      ul.non-section
        overflow: auto
        height: $pageHeight - (40 + 20)
        margin: 0
        padding: 0 0 20px 60px
        list-style-type: circle

          li
            line-height: 1.8em
            &.current
              list-style-type: disc
              color: $baseGreen
