body.palbum .modal
  position: absolute
  z-index: 10
  width: 'calc(100% - %s)' % $palbumSidebarWidth
  height: 100%
  right: 0
  top: 0
  background-color: $baseWhite

  .close
    position: absolute
    right: 0
    top: 0
    padding: 0 30px
    line-height: $palbumLogoHeight
    height: $palbumLogoHeight

    i.remove
      margin: 0
      transition: all .2s ease-in-out
      color: $baseGrayLight
      font-size: 2em

    &:hover
      cursor: pointer

      i
        transform: scale(1.5)
        color: $baseGray

  .modal-content
    margin: $palbumLogoHeight auto $baseMargin auto
    width: $pageWidth * 2
    color: $baseGray

    section
      margin: 0 0 $baseMargin 0

      h4.header
        margin: 0 0 5px 0
        color: $baseBlack
        line-height: 1.4em

      p
        margin: 0
        line-height: 1.5em

    .ui.form .inline.fields
      .field
        margin: 0 20px 0 0
        div.radio
          label
            vertical-align: middle
            padding-left: 3px

  .modal-content .feedback.form
    .field
      margin: 0 0 15px 0
      label
        margin: 0 0 5px 0
        color: $baseBlack
        font-size: 1em

    textarea[name="feedback"]
      font-family: $userContentFontFamily
      line-height: 1.4em

  .modal-content p.success-hint
    text-align: center
    margin: 0 0 $baseMargin 0
    padding: 100px 0 0 0
    color: $baseGreen
    font-family: $userContentFontFamily
    font-size: 1.2em