.palbum-wrapper
  position: absolute
  left: 50%
  top: 50%
  margin-left: -($pageWidth)
  margin-top: -($pageHeight / 2)
  width: $pageWidth + $pageWidth
  height: $pageHeight

  .shadow
    box-shadow:0 0 10px $baseGray;

  .page-wrapper
    perspective: 1500px;