$baseWhite = #eff5f2
$baseGreen = #4ba575
$baseBlack = #333
$baseGray = #666
$baseGrayLight = #999
$modalColor = rgba(0, 0, 0, .8)

$themeBlue = #214d6d


$baseFontSize = 16px
$baseFontFamily = 'Helvetica Neue','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif
$userContentFontFamily = 'Helvetica Neue','STKaiti','KaiTi','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif

$pageWidth = 480px
$pageHeight = 560px
$baseMargin = 30px
$sidebarWidth = 300px
$palbumSidebarWidth = 160px
$palbumLogoWidth = $palbumSidebarWidth
$palbumLogoHeight = $palbumLogoWidth * (100 / 160)

$palbumSidebarTabHeight = 40px

$lightenPercent = 10%