$sidebarWidth = 300px
$palbumSidebarWidth = 160px

$baseFontSize = 16px
$baseFontFamily = 'Helvetica Neue','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif
$contentFontFamily = 'Helvetica Neue','STKaiti','KaiTi','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif