$baseWhite = #eff5f2
$baseGreen = #4ba575
$baseDark = #333
$baseGray = #666
$baseGrayLight = #999

$baseFontSize = 16px
$baseFontFamily = 'Helvetica Neue','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif
$userContentFontFamily = 'Helvetica Neue','STKaiti','KaiTi','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif

$sidebarWidth = 300px
$palbumSidebarWidth = 160px

$palbumSidebarTabHeight = 40px